=checkout_form(:delivery) do |f|
  .row
    .col-md-10.col-md-push-1
      -@deliveries.each_with_index do |delivery, i|
        .form-group
          =f.radio_button :delivery_id, delivery.id, checked: i==0
          =f.label "delivery_id_#{delivery.id}", "#{delivery.name} - $#{delivery.cost}"