.text-center
  %h1 Checkout
.col-sm-8.checkout
  %ul.nav.nav-tabs{role:"tablist"}
    =tab_header 'address', t('.tab_address'), true, true
    =tab_header 'delivery', t('.tab_delivery'), false
    =tab_header 'payment', t('.tab_payment'), false
    =tab_header 'confirm', t('.tab_confirm'), false
  %div.tab-content
    %div.tab-pane.fade-in.active{role:"tabpanel", id:"address"}
      = render 'address'
    %div.tab-pane.fade{role:"tabpanel", id:"delivery"}
      = render 'delivery'
    %div.tab-pane.fade{role:"tabpanel", id:"payment"}
      = render 'payment'
    %div.tab-pane.fade{role:"tabpanel", id:"confirm"}

.col-sm-4
  %h3.text-center= t('.summary')
  .order-summary
    =render 'summary', order: @order