%tr[item]
  =form_for item, remote: true, format: :json do |f|
    %td
      -#=link_to [main_app, item.product] do
      -#  =image_tag item.product.image, height: '80px', class:'img-thumbnail'
    %td
      =link_to [main_app, item.product] do
        =item.product.title
    %td
      $#{item.cost}
    %td.count
      =f.number_field :count, value: item.count.to_i, class: 'form-control count', min:1, max: 20
      =f.hidden_field :product_id, value: item.product.id
    %td.total
      $#{item.total}
    %td
      =f.button icon('refresh'), class: 'btn btn-primary'
      =link_to icon('remove'),
               item,
               { data: { confirm: t('.confirm', product: item.product.title), type: :json },
                 method: :delete,
                 remote: true,
                 class: "btn btn-danger" }